/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
  float: left;
  width: 100%;
  padding: 1rem;
  background: #f2f6f7;
}

.header-logo, .header-logo i, .header-logo h3 {
  float: left;
}

.header-logo {
  width: 65%;
}

.header-logo i {
  padding-top: 0.5rem;
}

.header-logo h3 {
  margin-left: 1rem;
}

nav, ul li {
  float: left;
}

nav li {
  font-weight: bold;
  margin-left: 1rem;
}

nav span {
  margin-left: 1.5rem;
}

main {
  background-image: url("./eggs.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50rem;


}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
