/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Poppins', sans-serif;
  background: #d9dce3;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 1.25rem;
  color: #ff8800;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
  float: left;
  width: 100%;
  padding: 1rem;
  background: #d9dce3;
  
}

.header-logo, .header-logo i, .header-logo h3 {
  float: left;
}

.header-logo {
  width: 65%;
}

.header-logo i {
  padding-top: 0.5rem;
}

.header-logo h3 {
  margin-left: 1rem;
  color: black;
}

nav, ul li {
  float: left;
}

nav li {
  font-weight: bold;
  margin-left: 1rem;
}

nav span {
  margin-left: 1.5rem;
}

main {
  background-color: #d9dce3;
  background-image: url("../images/mainfood.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 60rem;
  
}

.hero-left {
  width: 60%;
  padding: 5rem;
}

.hero-left .input-field {
  width: 80%;
  height: 2rem;
  padding-left: 1rem;
  margin-top: 2rem;
  border-radius: 5px;
  border-style: none;
}

.hero-left a{
  background: #ff8800;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}

.hero-left .icon{
  color: orange;
  font-weight: bold;
}

.hero-icons {
  margin-top: 2rem;
  width: 60%;
}

.hero-icons i:not(:first-child) {
  margin-left: 2rem;
}

.hero-icons span {
  margin-left: 0.5rem;
}

.aboutUs {
  float: left;
  background-image: url(../images/cupcakes.jpg), url(../images/cookies.jpg);
  background-position: right bottom, left top;
  background-size: 28rem;
  background-repeat: no-repeat;
}


.aboutUs-main {
  float: left;
  background: white;
  opacity: 80%;
  margin: 8rem 15rem;
  width: 70%;
  padding: 0 18rem;
}



.aboutUs-main h1 {
  margin-top: 1rem;
}

.aboutUs-main p {
  margin-top: 2rem;
}

.aboutUs-button {
  margin-top: 2rem;
}

.aboutUs-button *{
  float: left;
}

.aboutUs-button a {
  background: #ff8800;
  padding: 1rem;
  border-radius: 5px 0 0px 5px;
  color: white;
}

.aboutUs-button a+a {
  border-radius: 0px 5px 5px 0;
  opacity: 70%;
}

.aboutUs-button i {
  background: #ff8800;

}

.orderNow {
  background: #f2f6f7;
  float: left;
  text-align: center;
  width: 100%;
}

.orderNow h3 {
  margin-top: 5rem;
}

.orderNow h1 {
  margin-top: 2rem;
}

.orderNow-menu {
  padding-bottom: 2rem;
  margin-left: 33%;
  width: 50%
}

.orderNow-menu ul{
  margin-top: 4rem;
  margin-left: auto;
}

.orderNow li {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid gray;
}

.orderNow-menu li:hover {
  color:#ff8800;
  border-bottom: 2px solid #ff8800;
  transition: 300ms ease-in-out;
}

.orderNow-menu a:hover {
  color: #ff8800;
  transition: 300ms ease-in-out;
}
.orderNow-menu li:not(:first-child) {
  margin-left: 4rem;
}

.orderNow-menuPictures {
  margin-top: 2rem;
  float: left;
  width: 100%;
}

.orderNow-topPictures {
  float: left;
  height: 20rem;
  width: 25%;

}

.orderNow-topPictures img{
  padding: 0 1rem;
  width: 19rem;
  height: 19rem;
  object-fit: cover;
}



.orderNow-bottomPictures {
  float: left;
  height: 20rem;
  width: 25%;

}

.orderNow-bottomPictures img{
  padding: 0 1rem;
  width: 19rem;
  height: 19rem;
  object-fit: cover;
}

.openingHours {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: center;
}

.openingHours-bgImage {
  opacity: 0.15;
  position: absolute;
  width: 100%;
  height: auto;
}

.openingHours > h3 {
  margin-top: 2rem;
  float: left;
  width: 100%;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
